    <div class="fixed bottom-0 left-0 right-0 bg-white rounded-md shadow-xl p-4 flex justify-between">
        <button id="dashboard" class="flex flex-col justify-center hover:text-green-700">
            <box-icon class="m-auto" size="md" name='pie-chart-alt-2' ></box-icon>
            <h1 class="font-bold">Dashboard</h1>
        </button>
        <button id="fluxo" class="flex flex-col justify-center hover:text-green-700 ">
            <box-icon class="m-auto" size="md" name='shuffle'></box-icon>
            <h1 class="font-bold">Fluxo</h1>
        </button>
        <button id="pagamentos" class="flex flex-col justify-center hover:text-green-700">
            <box-icon class="m-auto" size="md" name='calendar-exclamation' ></box-icon>
            <h1 class="font-bold">Pagamentos</h1>
        </button>
    </div>
</div>

<script src="../assets/js/footer.js"></script>
</body>
</html>