<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Finanças</title>
    <link rel="stylesheet" href="http://localhost:3000/assets/css/output.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body class="bg-gray-300 font-sans">
    <div class="w-11/12 mx-auto space-y-3">
        <div class="bg-white w-full rounded-md shadow-xl p-4 flex justify-between">
            <div>
                <img class="h-14" src="../assets/image/gerenfy logo.jpg" alt="gerenfy-logo">
            </div>
            <div class="flex space-x-4">
                <box-icon class="m-auto" size='md' name='bell'></box-icon>
                <box-icon class="m-auto" size='md' name='exit'></box-icon>
            </div>
        </div>
        
        