<%- include('./partials/header') %>
<form action="" id="formValor">
    <div class="bg-white w-full rounded-md shadow-xl p-4 flex flex-col space-y-4 items-center">
        <h1 class="font-bold text-2xl">Entradas/Saídas</h1>
        <input class="w-1/2 border-2 p-2 rounded-lg border-black" type="float" placeholder="Valor" id="valor">
        <div class="flex flex-row items-center space-x-4">
            <div class="radio-label flex flex-col items-center">
                <input type="radio" id="entrada" name="tipo" value="entrada">
                <label for="entrada">Entrada</label>
            </div>
            <div class="radio-label flex flex-col items-center">
                <input type="radio" id="saida" name="tipo" value="saida">
                <label for="saida">Saída</label>
            </div>
        </div>
        <button class="bg-green-500 hover:bg-green-700 rounded-lg w-1/2 py-2 shadow-lg" type="submit">Enviar</button>
    </div>
</form>



<script src="./assets/js/fluxo.js"></script>

<%- include('./partials/footer') %>