<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="http://localhost:3000/assets/css/output.css">
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>
<body class="bg-gray-300 font-sans flex justify-center items-center h-screen">
    <div class="w-11/12 mx-auto">
        <div class="bg-white w-full rounded-md shadow-xl p-4 flex flex-col justify-between my-auto">
            <div>
                <img class="w-2/3 m-auto my-4" src="./assets/image/gerenfy logo.jpg" alt="logo">
            </div>
            <form action="/login" id="registerForm">
                <div class="flex flex-col space-y-3 items-center w-full m-auto">
                    <div>
                        <box-icon class="absolute translate-x-1 translate-y-2.5" color="green" name='id-card'></box-icon>
                        <input class="border-2 border-green-200 rounded-md p-2 pl-8 focus:border-green-700" type="text" id="cpf" placeholder="CPF" oninput="cpfFormat(this.value)" required>
                    </div>
                    <div>
                        <box-icon class="absolute translate-x-1 translate-y-2.5" color="green" name='envelope'></box-icon>
                        <input class="border-2 border-green-200 rounded-md p-2 pl-8 focus:border-green-700" type="email" id="email" placeholder="Email" required>
                    </div>
                    <div>
                        <box-icon class="absolute translate-x-1 translate-y-2.5" color="green" name='user'></box-icon>
                        <input class="border-2 border-green-200 rounded-md p-2 pl-8 focus:border-green-700" type="text" id="nome" placeholder="Nome" required>
                    </div>
                    <div>
                        <box-icon class="absolute translate-x-1 translate-y-2.5" color="green" name='lock-alt' ></box-icon>
                        <input class="border-2 border-green-200 rounded-md p-2 pl-8 focus:border-green-700" type="password" id="senha" placeholder="Senha" required>
                    </div>
                    <div>
                        <box-icon class="absolute translate-x-1 translate-y-2.5" color="green" name='lock-alt' ></box-icon>
                        <input class="border-2 border-green-200 rounded-md p-2 pl-8 focus:border-green-700" type="password" id="confirmarSenha" placeholder="Confirmar Senha" required>
                    </div>
                    <button class="bg-green-700 py-2 px-8 rounded-md font-bold text-white" type="submit">Cadastrar-se</button>
                </div>
            </form>
        </div>
        
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./assets/js/validations.js"></script>
<script src="./assets/js/cpfFormat.js"></script>
</body>
</html> 